{% load l10n_tags %}

<section id="challenge-set">
  <div class="left">
    <h1>Title of the Challenge Set</h1>
    <p>Dessert donut pie cheesecake pudding. Candy canes sesame snaps danish topping apple pie candy. Dragée applicake cake liquorice marshmallow cookie sweet. Pie powder faworki cheesecake wafer liquorice. Dragée carrot cake bonbon gingerbread oat cake dragée applicake caramels. Cotton candy carrot cake toffee faworki fruitcake soufflé bonbon.</p>
    <div class="details">
      <ul>
        <li>320 Participants</li>
        <li>46 Mentors</li>
        <li>27 Badges</li>
        <li>5 Hours</li>
      </ul>
      <a class="start-challenge" href="#">Start first Challenge &#187;</a>
    </div>
  </div>
  <div class="right">
    <img src="http://dummyimage.com/266x180/000000/fff.png">
  </div>
</section>

<br />
<br />
<br />
<br />

<section id="challenge-sets">
  <h1><span>{{_('Challenge Sets')}}</span></h1>
  <ul class="challenge-set-list">
    <li>
<article class="project card {% if project.accepted_school %}background-{{ project.accepted_school.slug }}{% endif%}">
  <figure>
    <a href="#">
      <img src="/media/images/missing-challenge-set.png" width="399" height="125" alt=""/>
    </a>
  </figure>
	<div class="ribbon-wrapper">
		<div class="ribbon-front">
			<h1>{{ _('This is the Challenge Set name')}}</h1>
		</div>
		<div class="ribbon-edge-topleft"></div>
		<div class="ribbon-edge-topright"></div>
		<div class="ribbon-edge-bottomleft"></div>
		<div class="ribbon-edge-bottomright"></div>
		<div class="ribbon-back-left"></div>
		<div class="ribbon-back-right"></div>
	</div>
  <div class="info">
    <div class="description">{{ _('This is the Cheallenge Set description. This is where the Challenge owner would include some text about the set of Challenges.')}}</div> 
  </div>
  <div class="challenge-set-button">
    <a id="challenge-set-modal-action" href="#challenge-set-modal-data">View all Challenges</a>
  </div>
  <div class="meta">
    <dl class="meta-challenges">
      <dd>{{ _('23')}}</dd>
      <dt>{{ _('Challenges') }}</dt>
    </dl>
    <dl class="meta-participants">
      <dd>{{ _('143')}}</dd>
      <dt>{{ _('Participants') }}</dt>
    </dl>
    <dl class="meta-mentors">
      <dd>{{ _('54')}}</dd>
      <dt>{{ _('Mentors') }}</dt>
    </dl>
    <dl class="meta-badges">
      <dd>{{ _('54')}}</dd>
      <dt>{{ _('Badges') }}</dt>
    </dl>
  </div>


<div style="display:none">
	<div id="challenge-set-modal-data">
       <h2>This is the Challenge Set name</h2>
       <p>{{ _('This is the Cheallenge Set description. This is where the Challenge owner would include some text about the set of Challenges.')}} <a href="#">Get started with the first Challenge now &#187;</a></p>
       <ul>
         <li><img src="http://dummyimage.com/200x100/000000/fff.png"></li>
         <li><img src="http://dummyimage.com/200x100/000000/fff.png"></li>
         <li><img src="http://dummyimage.com/200x100/000000/fff.png"></li>
         <li><img src="http://dummyimage.com/200x100/000000/fff.png"></li>
         <li><img src="http://dummyimage.com/200x100/000000/fff.png"></li>
         <li><img src="http://dummyimage.com/200x100/000000/fff.png"></li>
       </ul>
	</div>
</div>


</article>
   <li>
<article class="project card {% if project.accepted_school %}background-{{ project.accepted_school.slug }}{% endif%}">
  <figure>
    <a href="#">
      <img src="/media/images/missing-challenge-set.png" width="399" height="125" alt=""/>
    </a>
  </figure>
	<div class="ribbon-wrapper">
		<div class="ribbon-front">
			<h1>{{ _('This is the Challenge Set name')}}</h1>
		</div>
		<div class="ribbon-edge-topleft"></div>
		<div class="ribbon-edge-topright"></div>
		<div class="ribbon-edge-bottomleft"></div>
		<div class="ribbon-edge-bottomright"></div>
		<div class="ribbon-back-left"></div>
		<div class="ribbon-back-right"></div>
	</div>
  <div class="info">
    <div class="description">{{ _('This is the Cheallenge Set description. This is where the Challenge owner would include some text about the set of Challenges.')}}</div> 
  </div>
  <div class="challenge-set-button">
    <a id="challenge-set-modal-action" href="#challenge-set-modal-data">View all Challenges</a>
  </div>
  <div class="meta">
    <dl class="meta-challenges">
      <dd>{{ _('23')}}</dd>
      <dt>{{ _('Challenges') }}</dt>
    </dl>
    <dl class="meta-participants">
      <dd>{{ _('143')}}</dd>
      <dt>{{ _('Participants') }}</dt>
    </dl>
    <dl class="meta-mentors">
      <dd>{{ _('54')}}</dd>
      <dt>{{ _('Mentors') }}</dt>
    </dl>
    <dl class="meta-badges">
      <dd>{{ _('54')}}</dd>
      <dt>{{ _('Badges') }}</dt>
    </dl>
  </div>


<div style="display:none">
	<div id="challenge-set-modal-data">
       <h2>This is the Challenge Set name</h2>
       <p>{{ _('This is the Cheallenge Set description. This is where the Challenge owner would include some text about the set of Challenges.')}} <a href="#">Get started with the first Challenge now &#187;</a></p>
       <ul>
         <li><img src="http://dummyimage.com/200x100/000000/fff.png"></li>
         <li><img src="http://dummyimage.com/200x100/000000/fff.png"></li>
         <li><img src="http://dummyimage.com/200x100/000000/fff.png"></li>
         <li><img src="http://dummyimage.com/200x100/000000/fff.png"></li>
         <li><img src="http://dummyimage.com/200x100/000000/fff.png"></li>
         <li><img src="http://dummyimage.com/200x100/000000/fff.png"></li>
       </ul>
	</div>
</div>


</article>
    </li>



  </ul>
</section>


{% if featured %}
<section id="featured_projects">
  <h1><span>{{_('Featured')}}</span></h1>
  <ul class="project-list">
  {% for project in featured %}
    <li>{% include "projects/_project_card.html" %}</li>
  {% endfor %}
  </ul>
</section>
{% endif %}

{% if open_signup %}
<section id="open_signup_projects">
  <h1><span>{{ _('Open for Sign-Up') }}</span></h1>
  <ul class="project-list">
    {% for project in open_signup %}
      <li>{% include "projects/_project_card.html" %}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% if active %}
<section id="active_projects">
  <h1><span>{{ _('Last Updated') }}</span></h1>
  <ul class="project-list">
    {% for project in active %}
      <li>{% include "projects/_project_card.html" %}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% if popular %}
<section id="popular_projects">
  <h1><span>{{ _('Popular') }}</span></h1>
  <ul class="project-list">
    {% for project in popular %}
      <li>{% include "projects/_project_card.html" %}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% if new_groups %}
<section id="new_projects">
  <h1><span>{{ _('New') }}</span></h1>
  <ul class="project-list">
    {% for project in new_groups %}
      <li>{% include "projects/_project_card.html" %}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% if under_development %}
<section id="under_development_projects">
  <h1><span>{{ _('Under Development') }}</span></h1>
  <ul class="project-list">
    {% for project in under_development %}
      <li>{% include "projects/_project_card.html" %}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% if archived %}
<section id="archived_projects">
  <h1><span>{{ _('Archived') }}</span></h1>
  <ul class="project-list">
    {% for project in archived %}
      <li>{% include "projects/_project_card.html" %}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}

<a href="{% locale_url projects_directory %}{% if school%}?school={{ school.slug }}{% endif %}">{{ _('View All') }}</a>
