{% extends "base.html" %}
{% load l10n_tags %}
{% load project_tags %}
{% block title %}{{ _('Learn') }}{% endblock %}
{% block bodyid %}project_gallery{% endblock %}
{% block bodyclasses %}card-list{% endblock %}

{% block links %}<link rel="stylesheet" href="{% locale_url multiple_schools_css %}?v=1">{% endblock %}

{% block breadcrumbs %}
  {% if school %}
    <span class="arrow">&rsaquo;</span>
    <a href="{{ school.get_absolute_url }}">{{ school.name }}</a>
  {% endif %}
  <span class="arrow">&rsaquo;</span>
  <a href="{% locale_url projects_gallery %}{% if school %}?school={{ school.slug }}{% endif %}">{{ _('Learn') }}</a>
{% endblock %}

{% block body %}
<div id="main">
<div class="learn">
  <h1>{{ _('Learn with your peers.') }}</h1>
  <p>We encourage you to browse the list of courses and join one which is open, and which you think may be of interest to you. You can also create your own course on any subject you feel comfortable teaching. Peers learning from and educating each other is what P2PU is all about.</p>
<a class="view-all-button" href="{% locale_url projects_directory %}{% if school %}?school={{ school.slug }}{% endif %}">{{ _('View All Courses') }}</a>
<a class="create-course-button" href="{% locale_url projects_create %}">{{ _('Create a Course') }}</a>

</div>
<br><br>
{% project_list school %}
</div>
{% endblock %}
