{% extends "projects/base.html" %}
{% load l10n_tags %}
{% load project_tags %}
{% load activity_tags %}
{% load pagination_tags %}

{% block title %}{{ project.name }}{% endblock %}

{% block project_links %}
<link rel="alternate" type="application/atom+xml" href="{% locale_url activity_project_feed slug=project.slug %}" />
{% endblock %}

{% block bodyid %}project_landing{% endblock %}

{% block body %}

{% sidebar %}

<div id="main-challenge">
  
  {% if content_pages_for_header %}
  <div id="challenge_task_header">
  <div id="progress">
  <div id="progressbar">Progress bar goes here</div>
  <p>5/5 Completed</p>
  </div>
  <h2 style="text-align: left; margin: 10px 0 20px 10px; font-size: 24px; font-style:normal; width: 200px; font-color: #222;" class="challenge_header">{{ _('Tasks') }}</h2>
      <ul>
        <li class="odd">
          <span class="taskCheckbox-wrapper">
          <input class="taskCheckbox" type="checkbox">
          </span>
          <span class="taskNumber">1.</span> 
          <a class="taskLink" href="/en/groups/fdgasdfg/content/this-is-task-1/">Introduce yourself</a>
          <a class="taskView" href="/en/groups/fdgasdfg/content/this-is-task-1/">View and Discuss</a>
          <span class="taskSubheader">This is the subheader for the Introduce yourself task.</span>
        </li>
        <li class="even">
          <span class="taskCheckbox-wrapper">
          <input class="taskCheckbox" type="checkbox">
          </span>
          <span class="taskNumber">2.</span> 
          <a class="taskLink" href="/en/groups/fdgasdfg/content/this-is-task-1/">Writing HTML by hand</a>
          <a class="taskView" href="/en/groups/fdgasdfg/content/this-is-task-1/">View and Discuss</a>
          <span class="taskSubheader">This is the subheader for the Writing HTML by hand task.</span>
        </li>
        <li class="odd">
          <span class="taskCheckbox-wrapper">
          <input class="taskCheckbox" type="checkbox">
          </span>
          <span class="taskNumber">3.</span> 
          <a class="taskLink" href="/en/groups/fdgasdfg/content/this-is-task-1/">Your trusty text editor</a>
          <a class="taskView" href="/en/groups/fdgasdfg/content/this-is-task-1/">View and Discuss</a>
          <span class="taskSubheader">This is the subheader for the Your trusty text editor task.</span>
        </li>
        <li class="even">
          <span class="taskCheckbox-wrapper">
          <input class="taskCheckbox" type="checkbox">
          </span>
          <span class="taskNumber">4.</span> 
          <a class="taskLink" href="/en/groups/fdgasdfg/content/this-is-task-1/">HTML is all around</a>
          <a class="taskView" href="/en/groups/fdgasdfg/content/this-is-task-1/">View and Discuss</a>
          <span class="taskSubheader">This is the subheader for the HTML is all around task.</span>
        </li>
        <li class="odd">
          <span class="taskCheckbox-wrapper">
          <input class="taskCheckbox" type="checkbox">
          </span>
          <span class="taskNumber">5.</span> 
          <a class="taskLink" href="/en/groups/fdgasdfg/content/this-is-task-1/">Give feedback to the community</a>
          <a class="taskView" href="/en/groups/fdgasdfg/content/this-is-task-1/">View and Discuss</a>
          <span class="taskSubheader">This is the subheader for the Give feedback to the community task.</span>
        </li>
      </ul>
  </div>
  {% endif %}

  <div class="tasks-complete">
    <h2>Congratulations!</h2>
    <button class="apply-badge-button">{{ _('Apply for Badge') }}</button>
    <span>or</span>
    <a href="#" class="next-challenge-link">{{ _('Next Challenge') }}</a>
  </div>

</div> <!-- /#main -->

<div id="main-people">

<section id="people" class="panel">
  <div class="need-help">
    <h2>{{ _('Start learning with your peers.') }}</h2>
    <p>You're not alone in your quest for knowledge. There are other peers learning along side you and if you need help, there are mentors that can answer your questions.</p>
    <button class="request-mentor-button">{{ _('Request a Mentor') }}</button>
  </div>
  <hr class="break">
  <h3 class="peers-help">{{ _('Peers who have offered their help') }}</h3>
  <br>
<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

  <hr class="break">
  <h3 class="peers-challenge">{{ _('Peers taking this challenge') }}</h3>
  <br>
<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

  <hr class="break">
  <h3 class="peers-complete">{{ _('Peers who have completed this challenge') }}</h3>
  <br>
<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

</section>

</div> <!-- /#main-people -->

{% endblock %}

