{% extends "projects/base.html" %}
{% load l10n_tags %}
{% load project_tags %}
{% load activity_tags %}
{% load pagination_tags %}

{% block title %}{{ project.name }}{% endblock %}

{% block project_links %}
<link rel="alternate" type="application/atom+xml" href="{% locale_url activity_project_feed slug=project.slug %}" />
{% endblock %}

{% block bodyid %}project_landing{% endblock %}

{% block body %}

{% sidebar %}

<div id="main-challenge">
  
  {% if content_pages_for_header %}
  <div id="challenge_task_header">
  <div id="progress">
  <div id="progressbar"></div>
  <p>2/6 Completed</p>
  </div>
  <h2 style="text-align: left; margin: 10px 0 20px 10px; font-size: 24px; font-style:normal; width: 200px; font-color: #222;" class="challenge_header">{{ _('Tasks') }}</h2>
      <ul>
        <li class="odd">
          <input class="taskCheckbox" type="checkbox">
          <span class="taskNumber">1.</span> 
          <a class="taskLink" href="/en/groups/fdgasdfg/content/this-is-task-1/">Introduce yourself</a>
          <a class="taskView" href="/en/groups/fdgasdfg/content/this-is-task-1/">View and Discuss</a>
        </li>
        <li class="even">
          <input class="taskCheckbox" type="checkbox">
          <span class="taskNumber">2.</span> 
          <a class="taskLink" href="/en/groups/fdgasdfg/content/this-is-task-1/">Writing HTML by hand</a>
          <a class="taskView" href="/en/groups/fdgasdfg/content/this-is-task-1/">View and Discuss</a>
        </li>
        <li class="odd">
          <input class="taskCheckbox" type="checkbox">
          <span class="taskNumber">3.</span> 
          <a class="taskLink" href="/en/groups/fdgasdfg/content/this-is-task-1/">Your trusty text editor</a>
          <a class="taskView" href="/en/groups/fdgasdfg/content/this-is-task-1/">View and Discuss</a>
        </li>
        <li class="even">
          <input class="taskCheckbox" type="checkbox">
          <span class="taskNumber">4.</span> 
          <a class="taskLink" href="/en/groups/fdgasdfg/content/this-is-task-1/">HTML is all around</a>
          <a class="taskView" href="/en/groups/fdgasdfg/content/this-is-task-1/">View and Discuss</a>
        </li>
        <li class="odd">
          <input class="taskCheckbox" type="checkbox">
          <span class="taskNumber">5.</span> 
          <a class="taskLink" href="/en/groups/fdgasdfg/content/this-is-task-1/">Give feedback to the community</a>
          <a class="taskView" href="/en/groups/fdgasdfg/content/this-is-task-1/">View and Discuss</a>
        </li>
        <li class="even">
          <input class="taskCheckbox" type="checkbox">
          <span class="taskNumber">6.</span> 
          <a class="taskLink" href="/en/groups/fdgasdfg/content/this-is-task-1/">Submit your work for review</a>
          <a class="taskView" href="/en/groups/fdgasdfg/content/this-is-task-1/">View and Discuss</a>
        </li>
      </ul>
  </div>
  {% endif %}

</div> <!-- /#main -->

<div id="main-people">

<section id="people" class="panel">
  <h2 class="school_header">{{ _('<strong>Need help?</strong> Peers that can help you with this challenge:') }}</h2>
  <br>
<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

  <hr class="break">

  <h2 class="school_header">{{ _('Peers taking this challenge:') }}</h2>
  <br>
<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>

<a href="/en/arlton/" title="Arlton (organizer)"><img class="member-picture" src="http://www.gravatar.com/avatar/6a32b3ae451981e8e451bb31dab435f4?s=54&amp;d=http%3A%2F%2Fp2pu.org%2Fmedia%2Fimages%2Fmember-missing.png&amp;r=g" height="40" width="40" alt="Arlton (organizer)"></a>
<p></p>
<a style=" margin-top: 20px; clear: both;" href="{% locale_url projects_user_list slug=project.slug %}">{{_('View all')}} »</a>
</section>

</div> <!-- /#main-people -->

{% endblock %}

