{% load l10n_tags %}

<div id="sidebar-wrapper">

<div id="sidebar">
  <section id="project"class="panel">
    <figure class="project_img">
      <a href="{{ project.get_absolute_url }}">
        {% if project.image %}
  	         <img src="{{ MEDIA_URL }}{{ project.image }}" width="243" height="150" alt="project image"/>
        {% else %}
             <img src="/media/images/project-missing.png" width="243" height="150" alt="project image"/>
        {% endif %}
      </a>
    </figure>
    <div id="project-description">
        <p>Lorem ipsum dolor sit amet, consectetur</p>
    </div>
    <div id="project-summary">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <a href="{% locale_url sign_up_answer slug=project.slug %}" class="challenge-button">{{ _('Start Challenge')}}</a>
    <hr class="sidebar-break">
    <p class="sidebar-badge-header">Badges</p>
    <img class="sidebar-badge" src="http://dummyimage.com/100x100/000/fff.png">
    <img class="sidebar-badge" src="http://dummyimage.com/100x100/000/fff.png">
  </section>
</div> <!-- /#sidebar -->

<div id="bottom-sidebar">
   <h2>Want to help?</h2>
   <form method="post" action="#">
    <button class="adopt-button">{{ _('Adopt this Challenge') }}</button>
  </form>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <hr class="bottom-sidebar-break">
  <p class="bottom-sidebar-or">or</p>
  <a href="#" class="bottom-sidebar-mentor">{{ _('Become a Mentor')}}</a>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>

</div>
