{% load l10n_tags %}

<div id="sidebar-wrapper">

<div id="sidebar">
  <section id="project"class="panel">
    <figure class="project_img">
      <a href="{{ project.get_absolute_url }}">
        {% if project.image %}
  	         <img src="{{ MEDIA_URL }}{{ project.image }}" width="243" height="150" alt="project image"/>
                 <h2 class="project_img_overlay">Webcraft Challenge</h2>
        {% else %}
             <img src="/media/images/project-missing.png" width="243" height="150" alt="project image"/>
             <h2 class="project_img_overlay">Webcraft Challenge</h2>
        {% endif %}
      </a>
    </figure>
    <div id="project-description">
        <p>Lorem ipsum dolor sit amet, consectetur</p>
    </div>
    <div id="project-summary">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <a id="discuss-modal" href="#discuss-challenge" class="discuss-button">{{ _('Leave Challenge')}}</a>
     <p class="leave-challenge"><a href="#">&#8592; Back to Challenge List</a></p>
    <div style="display: none;">
      <div id="discuss-challenge" style="width:600px;height:400px;overflow:auto;">
      </div>
    </div>
  </section>
</div> <!-- /#sidebar -->
<div class="bottom-sidebar">
  <div class="become-a-mentor">
    <h3>Help your peers</h3>
    <p>Would you be interested in becoming a Mentor? Your peers are going to run into road blocks and they could  really use your help.</p>
<a class="become-a-mentor-button">{{ _('Become a Mentor')}}</a>
  </div>
</div>
<div class="bottom-sidebar">
  <div class="badge">
    <div class="badge-top">
      <img class="badge-graphic" src="http://dummyimage.com/80x80/000/fff.png">
      <div class="badge-awarded">
        <a href="#"class="badge-awarded-header">Awarded</a>
        <a href="#" class="badge-awarded-number">52</a>
      </div>
      <div class="badge-pending">
        <a href="#" class="badge-pending-header">Pending</a>
        <a href="#" class="badge-pending-number">18</a>
      </div>
    </div>
    <div class="badge-bottom">
    <a href="#">18 peers need your review! Go &#8594;</a>
    </div>
  </div>
  <hr class="badge-break">
  <div class="badge">
    <div class="badge-top">
      <img class="badge-graphic" src="http://dummyimage.com/80x80/000/fff.png">
      <div class="badge-awarded">
        <a href="#"class="badge-awarded-header">Awarded</a>
        <a href="#" class="badge-awarded-number">24</a>
      </div>
      <div class="badge-pending">
        <a href="#" class="badge-pending-header">Pending</a>
        <a href="#" class="badge-pending-number">09</a>
      </div>
    </div>
    <div class="badge-bottom">
    <a href="#">9 peers need your review! Go &#8594;</a>
    </div>
  </div>
  <hr class="badge-break">
  <div class="badge">
    <div class="badge-top">
      <img class="badge-graphic" src="http://dummyimage.com/80x80/000/fff.png">
      <div class="badge-awarded">
        <a href="#"class="badge-awarded-header">Awarded</a>
        <a href="#" class="badge-awarded-number">86</a>
      </div>
      <div class="badge-pending">
        <a href="#" class="badge-pending-header">Pending</a>
        <a href="#" class="badge-pending-number">22</a>
      </div>
    </div>
    <div class="badge-bottom">
    <a href="#">22 peers need your review! Go &#8594;</a>
    </div>
  </div>
</div>
</div>
