{% extends "projects/base.html" %}
{% load l10n_tags %}
{% load embed %}
{% load project_tags %}
{% load comment_threads %}
{% load pagination_tags %}

{% block project_title %}{{ page.title }}{% endblock %}

{% block bodyid %}page{% endblock %}

{% block project_breadcrumbs %}
  <span class="arrow">&rsaquo;</span>
  <a href="{% locale_url projects_task_list slug=project.slug %}">{{ _('Task List') }}</a>
  <span class="arrow">&rsaquo;</span>
  <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
{% endblock %}

{% block breadcrumbs_actions%}
  {% if can_edit %}
    <a class="button" href="{% locale_url page_edit slug=project.slug page_slug=page.slug %}">{{ _('Edit') }}</a>
    {% if page.listed %}<a class="button" href="{% locale_url page_delete slug=project.slug page_slug=page.slug %}">{{ _('Delete') }}</a>{% endif %}
  {% endif %}
  <a class="button" href="{% locale_url page_history slug=project.slug page_slug=page.slug %}">{{ _('View History') }}</a>
  {% if can_comment %}
    <a class="button" href="{{ new_comment_url }}">{{ _('Post Comment') }}</a>
  {% endif %}
{% endblock %}

{% block body %}
{% sidebar %}
<div id="main" class="content_page">

	<ul id="task-nav">
	  <li class="tasks">
	    <p class="task-nav-header">Task Navigation</p>
	      <ul class="task-nav-list">
	        <li class="task-sub-nav"><a href="#">1. Task number one</a></li>
	        <li class="task-sub-nav"><a href="#">2. Task number two - long</a></li>
	        <li class="task-sub-nav"><a href="#">3. Task number three - longer</a></li>
	        <li class="task-sub-nav"><a href="#">4. Task number four - something longer</a></li>
		<li class="task-sub-nav"><a href="#">5. Task number five - plus something longer</a></li>
	      </ul>
	    </li>
	</ul>

{% if user.is_authenticated %}
    <p class="supplemental_actions"><a class="report abuse action" href="{% locale_url drumbeat_abuse model="page" app_label="content" pk=page.id %}">{{_('Report Abuse')}}</a></p>
{% endif %}
<h1 class="{% if page.collaborative %}collaborative{% endif %} school_header tasks-title">{{ page.title }}</h1>
<hr />
{{ page.content|embed|safe }}

{% if pagination_current_page.object_list %}

<h1>{{_('Comments')}}</h1>
<br>
<ul id="posts">
  {% with comments=pagination_current_page.object_list %}
    {% comment_threads %}
  {% endwith %}
</ul>
{% with prefix='' page_url=page.get_absolute_url %}
  {% pagination_links %}
{% endwith %}

{% endif %}
</div>
{% endblock %}

