h1.school_header, h2.school_header, h3.school_header, a.school_header,
span.school_header, #beta-tag {
  color: {{ school.headers_color }};
}

#participate_button a {
  background-color: {{ school.headers_color }};
}

#participate_button a:hover {
    background-color: {{ school.header_color_light }};
}

{% if school.background %}
body {
  background: url('{{ MEDIA_URL }}{{ school.background }}');
}
{% endif %}

{% if school.site_logo %}
#logo { 
    background-image: url("{{ MEDIA_URL }}{{ school.site_logo }}");
}
{% endif %}

#school_home #sidebar {
    width: {{ school.sidebar_width }};
}

{{ school.extra_styles|safe }}
